{% extends 'base.html' %}
{% load static %}
{% block style %}
  <link href="{% static "admin/vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">


{% endblock %}

{% block content %}

 <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">My Donations</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Donations</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Donator Name</th>
                      <th>Donator Phone Number</th>
                      <th>Blood Group</th>
                      <th>Rhesus Factor</th>
                      <th>County</th>
                      <th>SubCounty</th>
                      <th>Location</th>
                      <th>Receiver Name</th>
                      <th>Receiver Phone Number</th>
                      <th>Location Description</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for donation in object_list %}
                    <tr>
                      <td>{{ donation.donator.user.username }}</td>
                      <td>{{ donation.donator.user.phone_number }}</td>
                      <td>{{donation.donator.user.blood_group}}</td>
                      <td>{{ donation.donator.user.rhesus_factor }}</td>
                      <td>{{ donation.receiver.user.location.sub_county.county }}</td>
                      <td>{{ donation.receiver.user.location.sub_county }}</td>
                      <td>{{ donation.receiver.user.location }}</td>
                      <td>{{ donation.receiver.user.username }}</td>
                      <td>{{ donation.receiver.user.phone_number }}</td>
                      <td>{{ donation.location_description }}</td>
                      <td>{{ donation.date }}</td>
                    </tr>

                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock %}

{% block script %}

!-- Page level plugins -->
  <script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>

{% endblock %}